[hunyadi]
eon_url = https://energia.eon-hungaria.hu/W1000
username =
password =
reportId =
hyphen =
since = 2020-09-29
until = 2020-09-30
topic = sensors/eon
availability_topic = sensors/eon/availability